<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Datos_Center.Properties.Settings.CentroComercialConnectionString"
            connectionString="Data Source=DESARROLLORS02;Initial Catalog=CentroComercial;User ID=sa;Password=RS123"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>